/* 390px 제한 */
.page-wrapper {
  max-width: 39rem;
  width: 100%;
  margin: 0 auto;
}

.background {
  width: 100%;
  background-color: var(--header-bg-color);
}

/* nav */
.navbar-container {
  padding: 2rem;
}

.header-logo {
  width: 9.2rem;
  height: auto;
}

.nav-icon-btn {
  padding: 0;
  background-color: var(--header-bg-color);
  width: 3rem;
  height: 2.5rem;
  position: relative;
}

.nav-line {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--dark-bg);
}

/* hero */
.hero-container {
  gap: 3rem;
  text-align: center;
  overflow: hidden;
}

.hero-container div {
  gap: 3rem;
}
.hero-container div h2 {
  margin-top: 6rem;
}

.hero-text-box {
  width: 44rem;
}

.boxCat-img {
  width: 19.7rem;
}

/* main-content */
.main-content {
  padding: 4rem 3.2rem;
  position: relative;
  overflow-x: hidden;
  margin-bottom: -10rem;
}

.main-top-cat {
  width: 32.6rem;
  height: 19rem;
  border-radius: 1.8rem;
  box-shadow: var(--shadow-lg);
}

.main-content h2:nth-of-type(1) {
  margin: 4rem 0 1.5rem 0;
}

.main-content > div:nth-child(2) h2 {
  text-align: center;
  color: var(--text-orange);
  margin: 5.5rem 0 3rem 0;
}
.main-content p:nth-of-type(2),
.main-content > div:nth-of-type(2) p {
  font-size: 1.6rem;
}

.hero-middle-text {
  text-align: center;
}

/* 메인 콘텐츠 고양이 사진 */
.cats-img {
  width: 26rem;
  border-radius: 1.8rem;
  margin: 4rem 2rem 4rem 0;
  box-shadow: var(--shadow-lg);
}

.text-box {
  position: relative;
  /* padding-bottom: 4rem; */
  margin-bottom: 7rem;
}

.text-box button {
  position: absolute;
  top: 100%;
  left: 60%;
  /* transform: translate(-50%, -50%); */
}

/* 구독 폼 */
.Subscribe-form {
  /* position: relative; */
  background-color: var(--dark-bg);
  color: var(--text-lighter);
  padding: 3.6rem 3.2rem;
  padding-bottom: 0;
  border-radius: 1.8rem;
}

.Subscribe-form div {
  margin: 1rem 0 2rem 0;
}

.Subscribe-form div > h3 {
  margin-bottom: 1rem;
}

.subscribe-input-box {
  position: relative;
}

/* 우선순위 : 클래스 10점 가상 클래스 10점 태그 *3 3점 */
.Subscribe-form > div:nth-child(2) input {
  font-size: 1.2rem;
  padding: 1.2rem 7rem 1.2rem 4.8rem;
  border: none;
  border-radius: 6rem;
}

.Subscribe-icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 1.8rem;
  height: auto;
}

.Subscribe-btn {
  margin: 0 3.2rem 3rem 17.7rem;
}

/* 메인 컨텐츠 아래 고양이 백그라운드 */
.bottom-img {
  margin-top: -10rem;
  background-image: url(../images/up-cat.png);
  height: 24rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

/* footer */
.left-footer {
  padding: 2.4rem;
  gap: 6rem;
}

.left-footer > img {
  width: 11.1rem;
  height: auto;
}

.left-footer > div {
  gap: 1.6rem;
}

.footer-btn {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
}

.footer-btn img {
  width: 1.83rem;
}

.right-footer {
  align-items: flex-end;
  padding: 3rem 2rem;
  gap: 1rem;
}

.right-footer a {
  color: var(--text-light);
}

/* 모달 */
.Smodal-set {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-Bcolor);
  z-index: 1000;
}

.hidden {
  display: none;
}

.Subscribe-modal {
  background-color: var(--header-bg-color);
  padding: 4rem 5rem;
  padding-bottom: 3rem;
  width: 30rem;
  height: 30rem;
  box-shadow: var(--shadow-lg);
  border-radius: 3rem;
  text-align: center;
}

.Subscribe-modal > img {
  width: 6rem;
}

.Subscribe-modal > h3 {
  margin: 2rem 0 0.5rem 0;
  color: var(--text-orange);
}

.Subscribe-modal > p {
  margin-bottom: 2.3rem;
}

/* 반응형 */
.mobile-only {
  display: block;
}

.non-mobile {
  display: none;
}

.non-mobile-menu-wapper {
  gap: 4rem;
}

.non-mobile-menu-wapper > div {
  gap: 3rem;
}

.non-mobile-menu-wapper div a {
  font-size: 1.6rem;
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
  .page-wrapper {
    max-width: 192rem;
  }

  .mobile-only {
    display: none;
  }

  .non-mobile {
    display: block;
  }

  span {
    display: inline;
  }

  p {
    font-size: 1.6rem;
  }

  h2,
  h3 {
    font-size: 3.6rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }

  /* 네비바와 고양이의 위치가 맞지않음 수정요함 */
  .navbar-container {
    padding: 3rem 32rem 3.2rem 17.4rem;
  }

  .hero-container {
    flex-direction: row;
    gap: 12.8rem;
    justify-content: center;
  }

  .hero-container > div {
    align-items: flex-start;
    text-align: start;
  }

  .header-logo {
    width: 15rem;
  }

  .boxCat-img {
    width: 41.5rem;
    margin: 6.2rem 0 -14rem 0;
  }

  .hero-container div h2 {
    font-size: 4.8rem;
    margin-top: 6rem;
    text-align: none;
  }

  .main-content {
    padding: 8rem 32rem 3rem 32rem;
    margin-bottom: -15.3rem;
  }

  .main-content > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11rem;
  }

  .main-top-cat {
    width: 66rem;
    height: 39rem;
  }

  .main-content > div:nth-child(1) h2 {
    padding-bottom: 1.5rem;
  }

  .cats-img {
    margin: 8.8rem 7.2rem 9rem 0;
    width: 37.8rem;
    height: 37.8rem;
  }

  .text-box button {
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .Subscribe-form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 6rem;
  }

  #Subscribe-email {
    font-size: 1.6rem;
    padding: 2rem 27rem 2rem 7rem;
  }

  .Subscribe-icon {
    left: 7%;
    width: 2.4rem;
  }

  .Subscribe-btn {
    margin-left: -20rem;
    margin-bottom: 1rem;
    z-index: 10;
  }

  .bottom-img {
    height: 34rem;
  }

  /* 푸터 */
  .left-footer {
    flex-direction: row;
    width: 100%;
    padding: 4.2rem 32rem;
    justify-content: space-between;
    align-items: center;
  }

  .left-footer > img {
    width: 23rem;
  }

  .footer-btn {
    width: 4.2rem;
    height: 4.2rem;
  }

  .footer-btn > img {
    width: 2.4rem;
  }

  /* 모달 */
  .Subscribe-modal {
    width: 60rem;
    height: 40rem;
  }

  .Subscribe-modal > img {
    width: 11rem;
  }
}
