/* 390px 제한 */
.page-wrapper {
  max-width: 39rem;
  margin: 0 auto;
}

.background {
  width: 100%;
  background-color: var(--header-bg-color);
}

/* nav */
.navbar-container {
  padding: 2rem;
}

.header-logo {
  width: 9.2rem;
  height: auto;
}

.nav-icon-btn {
  background-color: var(--header-bg-color);
  padding: 0px;
}

/* hero */
.hero-container {
  gap: 3rem;
  text-align: center;
  overflow: hidden;
}

.hero-container div {
  gap: 3rem;
}
.hero-container div h2 {
  margin-top: 6rem;
}

.hero-text-box {
  width: 44rem;
}

.boxCat-img {
  width: 19.7rem;
}

/* main-content */
.main-content {
  padding: 4rem 3.2rem;
  position: relative;
  overflow-x: hidden;
  margin-bottom: -10rem;
}

.main-top-cat {
  width: 32.6rem;
  height: 19rem;
  border-radius: 1.8rem;
  box-shadow: var(--shadow-lg);
}

.main-content h2:nth-of-type(1) {
  margin: 4rem 0 1.5rem 0;
}

.main-content > div:nth-child(2) h2 {
  text-align: center;
  color: var(--text-orange);
  margin: 5.5rem 0 3rem 0;
}
.main-content p:nth-of-type(2),
.main-content > div:nth-of-type(2) p {
  font-size: 1.6rem;
}

.hero-middle-text {
  text-align: center;
}

/* 메인 콘텐츠 고양이 사진 */
.cats-img {
  width: 26rem;
  border-radius: 1.8rem;
  margin: 4rem 2rem 4rem 0;
  box-shadow: var(--shadow-lg);
}

.text-box {
  margin-bottom: 7rem;
  align-items: flex-end;
  gap: 1rem;
}

/* 구독 폼 */
.subscribe-form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: var(--dark-bg);
  color: var(--text-lighter);
  padding: 3.6rem 3.2rem;
  border-radius: 1.8rem;
}

.subscribe-form div {
  margin: 1rem 0 2rem 0;
}

.subscribe-form div > h3 {
  margin-bottom: 1rem;
}

.subscribe-input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* 우선순위 : 클래스 10점 가상 클래스 10점 태그 *3 3점 */
.subscribe-form > div:nth-child(2) input {
  font-size: 1.2rem;
  padding: 1.2rem 5% 1.2rem 4.8rem;
  border: none;
  box-sizing: border-box;
  border-radius: 6rem;
  width: 100%;
  background-image: url("../images/mail.svg");
  background-size: 1.8rem;
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.subscribe-btn {
  align-self: flex-end;
}

/* 메인 컨텐츠 아래 고양이 백그라운드 */
.bottom-img {
  margin-top: -10rem;
  background-image: url(../images/up-cat.png);
  height: 24rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

/* footer */
.left-footer {
  padding: 2.4rem;
  gap: 6rem;
}

.left-footer > img {
  width: 11.1rem;
  height: auto;
}

.left-footer > div {
  gap: 1.6rem;
}

.footer-btn {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
}

.footer-btn img {
  width: 1.83rem;
}

.right-footer {
  align-items: flex-end;
  padding: 3rem 2rem;
  gap: 1rem;
}

.right-footer a {
  color: var(--text-light);
}

/* 모달 */
.smodal-set {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-Bcolor);
  z-index: 1000;
}

.hidden {
  display: none;
}

.subscribe-modal {
  background-color: var(--header-bg-color);
  padding: 4rem 5rem;
  padding-bottom: 3rem;
  width: 30rem;
  height: 30rem;
  box-shadow: var(--shadow-lg);
  border-radius: 3rem;
  text-align: center;
}

.subscribe-modal > img {
  width: 6rem;
}

.subscribe-modal > h3 {
  margin: 2rem 0 0.5rem 0;
  color: var(--text-orange);
}

.subscribe-modal > p {
  margin-bottom: 2.3rem;
}

.top-btn {
  position: fixed;
  bottom: 15%;
  right: 5%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0;
  box-shadow: var(--shadow-md);
  background-color: var(--border-color);
  color: var(--top-btn-color);
}

.top-btn:hover {
  color: var(--top-btn-hover-color);
}

/* 반응형 */
.mobile-only {
  display: block;
}

.non-mobile {
  display: none;
}

.non-mobile-menu-wapper {
  gap: 4rem;
}

.non-mobile-menu-wapper > div {
  gap: 3rem;
}

.non-mobile-menu-wapper div a {
  font-size: 1.6rem;
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
  .page-wrapper {
    max-width: 192rem;
  }

  .mobile-only {
    display: none;
  }

  .non-mobile {
    display: block;
  }

  span {
    display: inline;
  }

  p {
    font-size: 1.6rem;
  }

  h2,
  h3 {
    font-size: 3.6rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }

  /* 네비바와 고양이의 위치가 맞지않음 수정요함 */
  .navbar-container {
    padding: 3rem;
  }

  .hero-container {
    flex-direction: row;
    gap: 12.8rem;
    justify-content: flex-start;
    justify-content: center;
  }

  .hero-container > div {
    align-items: flex-start;
    text-align: start;
  }

  .header-logo {
    width: 15rem;
  }

  .boxCat-img {
    width: 41.5rem;
    margin: 6.2rem 0 -14rem 0;
  }

  .hero-container div h2 {
    font-size: 4.8rem;
    margin-top: 6rem;
    text-align: none;
  }

  .main-content {
    padding: 8rem 3rem 3rem 3rem;
    margin-bottom: -15.3rem;
  }

  .main-content > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11rem;
  }

  .main-top-cat {
    width: 66rem;
    height: 39rem;
  }

  .main-content > div:nth-child(1) h2 {
    padding-bottom: 1.5rem;
  }

  .cat-gallery {
    justify-content: center;
  }

  .cats-img {
    margin: 8.8rem 7.2rem 9rem 0;
    width: 37.8rem;
    height: 37.8rem;
  }

  .cat-gallery > .cats-img:nth-child(3) {
    margin-right: 0;
  }

  .text-box {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    justify-content: center;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 5rem 6rem;
  }

  #subscribe-email {
    font-size: 1.6rem;
    padding: 2rem 17rem 2rem 7rem;
    background-size: 2.4rem;
  }

  .subscribe-icon {
    left: 7%;
    width: 2.4rem;
  }

  .subscribe-btn {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
  }

  .bottom-img {
    height: 34rem;
  }

  /* 푸터 */
  .left-footer {
    flex-direction: row;
    width: 100%;
    padding: 4.2rem;
    justify-content: space-between;
    align-items: center;
  }

  .test {
    width: 100%;
  }

  .left-footer > img {
    width: 23rem;
  }

  .footer-btn {
    width: 4.2rem;
    height: 4.2rem;
  }

  .footer-btn > img {
    width: 2.4rem;
  }

  /* 모달 */
  .subscribe-modal {
    width: 60rem;
    height: 40rem;
  }

  .subscribe-modal > img {
    width: 11rem;
  }
}
