.page-wrapper {
  max-width: 39rem;
}

.hero-container {
  background-color: var(--header-bg-color);
  gap: 3rem;
  text-align: center;
  height: 80rem;
  overflow: hidden;
  /* width: 100%; */
}

/* nav */
.navbar-container {
  padding: 2rem;
  width: 100%;
  background-color: var(--header-bg-color);
}

.header-logo {
  width: 9.2rem;
  height: auto;
}

.nav-icon-btn {
  padding: 0;
  background-color: var(--header-bg-color);
  width: 3rem;
  height: 2.5rem;
  position: relative;
}

.nav-line {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--dark-bg);
}

/* hero */
.hero-container > h2 {
  font-size: 2.4rem;
  margin-top: 6rem;
}

.boxCat-img {
  width: 19.7rem;
}

/* main-content */
.main-content {
  padding: 4rem 3.2rem;
  /* gap: 4rem; */
  position: relative;
  overflow: hidden;
}

.main-content > img {
  width: 32.6rem;
  height: 19rem;
  border-radius: 1.8rem;
  box-shadow: var(--shadow-lg);
}

.main-content h2 {
  font-size: 2.4rem;
}

.main-content h2:nth-of-type(1) {
  margin: 4rem 0 1.5rem 0;
}

.main-content h2:nth-of-type(2) {
  text-align: center;
  color: var(--text-orange);
  margin: 5.5rem 0 3rem 0;
}
.main-content p:nth-of-type(2),
.main-content > div:nth-of-type(2) p {
  font-size: 1.6rem;
}

/* 메인 콘텐츠 고양이 사진 */
.cats-img {
  width: 26rem;
  border-radius: 1.8rem;
  margin: 4rem 2rem 4rem 0;
  box-shadow: var(--shadow-lg);
}

.text-box {
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
}

.text-box button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* 구독 폼 */
.Subscribe-form {
  position: relative;
  background-color: var(--dark-bg);
  color: var(--text-lighter);
  padding: 3.6rem 3.2rem;
  border-radius: 1.8rem;
  margin-bottom: -2rem;
}

.Subscribe-form > h3 {
  font-size: 2.4rem;
}

.Subscribe-form > p {
  margin: 1rem 0 2rem 0;
}

.Subscribe-form > input {
  font-size: 1.2rem;
  padding: 1.2rem 7rem 1.2rem 4.8rem;
  border: none;
  border-radius: 6rem;
}

.Subscribe-icon {
  position: absolute;
  top: 66.5%;
  left: 5rem;
  width: 1.8rem;
  height: auto;
}

.Subscribe-btn {
  margin: 2rem 0 0 14.5rem;
}

/* 메인 컨텐츠 아래 고양이 백그라운드 */
.bottom-img {
  margin: -4rem -3.2rem;
  background-image: url(../images/up-cat.png);
  height: 24rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

/* footer */
.left-footer {
  padding: 2.4rem;
  gap: 6rem;
}

.left-footer > img {
  width: 11.1rem;
  height: auto;
}

.left-footer > div {
  gap: 1.6rem;
}

.footer-btn {
  background-color: var(--accent-color);
  border-radius: 5rem;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
}

.footer-btn img {
  width: 1.83rem;
}

.right-footer {
  align-items: flex-end;
  padding: 3rem 2rem;
  gap: 1rem;
}

.right-footer a {
  color: var(--text-light);
}
