@media (min-width: 790px) {
  .header {
    padding: 2.5rem;
  }
  .Bold {
    font-size: 1.7rem;
  }

  .nav-menu {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    text-align: center;
    align-items: center;
    padding: 1rem;
    font-size: 16px;
  }
  .zadu-logo {
    margin: 0 1rem 0 1rme;
  }
  .zadu-logo img {
    width: 8rem;
    height: 2.7rem;
  }
  /*-------------------------*/
  /* hreo-section */
  /*-------------------------*/
  .hero-text-contents {
    margin-bottom: 5em;
  }
  .hero-dummy-text {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    font-size: 1.1rem;
  }
  .hero-text-bold {
    align-items: flex-start;
    text-align: left;
    font-size: 2.2rem;
  }
  .hero-subtext-mobile {
    display: none;
  }
  .hero-subtext-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .down-btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 2rem;
  }
  .hero-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .box-cat {
    width: 16rem;
    margin-top: 0;
    height: 29rem;
  }

  /*-------------------------*/
  /* card-section */
  /*-------------------------*/
  .card-section {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
  }
  .card-cat-img {
    width: 370px;
  }
  /*-------------------------*/
  /* gallery-section */
  /*-------------------------*/
  .gal-text {
    margin-top: 4rem;
  }
  .gal-text-orange {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: var(--btn-text-orange);
    font-size: 2.3rem;
    gap: 0.5rem;
  }

  .gal-subtext-flex {
    flex-direction: row;
  }
  .image-gal {
    display: flex;
    gap: 2rem;
    margin: 2rem 0 3.5rem 0;
  }
  .image-gal img {
    width: 300px;
    height: 300px;
  }
  .btn-hamburger {
    display: none;
  }
  .gal-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
    margin-bottom: 2rem;
  }

  .learn-btn {
    height: 50%;
  }
  .gal-bottext-mobile {
    display: none;
  }
  .gal-bottext-tablet {
    display: block;
  }
  .gal-bottext-desktop {
    display: none;
  }
  /*-------------------------*/
  /* subscribe-section */
  /*-------------------------*/
  .subscribe-box {
    width: 68rem;
    height: 12rem;
    display: flex;
    flex-direction: row;
  }
  .subscribe-parag {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subscribe-title {
    flex-direction: row;
    margin: 0 0 0 2.4rem;
    gap: 0.7rem;
    font-size: 2.2rem;
  }
  .email {
    position: absolute;
    z-index: 0;
    transform: translateX(10%) translateY(13%);
  }
  .email-box {
    width: 26rem;
    height: 3.5rem;
  }
  .button-subscribe {
    height: 25%;

    transform: translateX(300%);
  }
  .subscribe-btn {
    position: relative;
    z-index: 1;
    padding: 0 1rem 0 1rem;
  }
  .email-and-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .subscribe-section::after {
    margin-top: 12rem;
    height: 18rem;
  }
  /*=========================================*/
  /*===== Footer =====*/
  .bottom {
    display: none;
  }
  .footer {
    margin-top: 15.5rem;
    justify-content: center;
    align-items: center;
  }
  .bot-logo-icons {
    flex-direction: row;
    gap: 26rem;
    margin: 0;
  }
  /*=========================================*/
  /*===== top-hover =====*/

  .top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff63;
    border-radius: 50%;
    border: 1px solid gray;
  }
}

@media (min-width: 890px) {
  .card-subtext-desktop {
    display: block;
  }
  .card-subtext-mobile {
    display: none;
  }

  .gal-bottext-tablet {
    display: none;
  }
  .gal-bottext-desktop {
    display: block;
  }
}
