body {
  margin: 0;
}
p {
  margin: 0;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  /* 기본 색상 */
  --primary-color: #f8b49b; /* 연한 살구색 */
  --accent-color: #ef835d; /* 강조색 (버튼, 아이콘) */
  --accent-hover: #dc5b28; /* 호버 상태 색상 */
  --header-bg-color: #f2d8d9; /* 헤더/히어로 배경색 */
  --dark-bg: #2c3e50; /* 다크 배경 (구독 섹션) */

  /* 텍스트 색상 */
  --text-color: #333; /* 기본 텍스트 */
  --text-light: #666; /* 밝은 텍스트 */
  --text-lighter: #f2e9d8; /* 더 밝은 텍스트 */

  /* 기타 */
  --border-color: #eee; /* 테두리 색상 */

  /* 그림자 효과 */
  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
}
.fixed-top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header-bg-color);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}
.logo {
  width: 5.75rem;
  aspect-ratio: 5.75 / 2;
  cursor: pointer;
}
.logo > img {
  width: 100%;
}
.nav-item-list {
  display: none;
}
.nav-item {
  /* TODO 768px 이상에서 구현 */
}
.download {
  padding: 0.75rem 1.5rem;
  background-color: var(--accent-color);
  font-size: 0.875rem;
  color: white;
  font-weight: 700;
  border-radius: 40px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 5rem;
  text-align: center;
  align-items: center;
}
.hero-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-clamp: 3;
  overflow: hidden;
  height: 7rem;
}
.hero-introduce {
  font-size: 0.875rem;
  font-weight: 400;
}
.hero-img {
  width: 12.25rem;
}
.hero-img > img {
  width: 100%;
}
