:root {
  /* 배경 색상 */
  --nav-bg-color: #f2d8d9;
  --head-bg-color: #f2d8d9;
  --main-bg-color: #ffffff;
  --subscribe-bg-color: #263140;

  /* 폰트 색상 */
  --main-text-color: #000000;
  --bright-text-color: #ffffff;
  --subscribe-text-color: #f2e9d8;
  --accent-text-color: #d97652;
  --placeholder-text-color: #767676;

  /* 버튼 색상 */
  --main-btn-color: #d97652;
  --social-btn-color: #f29d52;

  /* 그림자 색상 */
  --image-shadow: rgba(0, 0, 0, 0.25);
  --modal-box-shadow: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 16px;
}

body,
p {
  margin: 0;
}

body {
  min-width: 390px;
  background-color: var(--main-bg-color);
}

.btn {
  border: none;
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 40px;
  color: var(--bright-text-color);
  background-color: var(--main-btn-color);
  padding: 11px 24px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:active {
  transform: scale(0.95);
}

.text-large {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-small {
  font-size: 1rem;
  font-weight: 400;
}

.text-xsmall {
  font-size: 0.875rem;
  font-weight: 400;
}

/* 1.상단 로고 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  height: 76px;
  background-color: var(--head-bg-color);
}

.hidden-menu {
  display: none;
}

.head-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: calc(794px - 76px);
  background-color: var(--head-bg-color);
}

.head-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-group-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 60px 0;
}

.head-group-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 50px;
}

.head-logo {
  width: 92px;
  height: 33px;
}

.menu-tab {
  width: 32px;
  height: 32px;
  background: url(./images/menu_tab.png) no-repeat center/cover;
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
}

.menu-tab:active {
  transform: scale(0.95);
}

/* .menu-tab {
  width: 32px;
  height: 32px;
  cursor: pointer;
} */

.image-banner {
  margin: 30px;
  min-width: 197px;
  min-height: 422px;
}

.banner-btn {
  width: 119px;
}

/* 2.메인 컨텐츠 */

.cat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  margin-bottom: 55px;
}

.top-image-box {
  width: 326px;
  height: 190px;
  border-radius: 18px;
  overflow: hidden;
  margin: 40px 0;
  box-shadow: 10px 10px 20px var(--image-shadow);
}

.top-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-text {
  margin-top: 15px;
}

/* 3.강조 설명 */

.cat-description {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.accent-color {
  font-weight: 700;
  color: var(--accent-text-color);
}

.description-text {
  text-align: center;
  overflow-wrap: break-word;
  margin-top: 30px;
}

/* 4.고양이 갤러리 */

.cat-gallary {
  margin-bottom: 50px;
  padding-left: 32px;
}

.image-gallary {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 20px;
  margin-bottom: 19px;
  padding-bottom: 20px;
}

.image-cat {
  width: 260px;
  height: 260px;
  box-shadow: 10px 10px 20px var(--image-shadow);
  border-radius: 18px;
}

.gallary-text {
  text-align: start;
  overflow-wrap: break-word;
}

.cat-gallary-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 32px;
}

.learn-btn {
  margin-top: 9px;
  width: 126px;
  justify-self: end;
}

/* 5.후원 */

.subscribe {
  display: flex;
  justify-content: center;
  margin-bottom: 172px;
}

.subscribe-container {
  box-sizing: border-box;
  width: 326px;
  height: 348px;
  border-radius: 18px;
  margin: 0 32px;
  padding: 36px 32px;
  background-color: var(--subscribe-bg-color);
}

.subscribe-top-group {
  margin-top: 20px;
}

.subscribe-bottom-group {
  display: grid;
  margin-bottom: 30px;
  position: relative;
}

.subscribe-address {
  border: none;
  border-radius: 60px;
  width: 262px;
  height: 40px;
  margin: 20px 0;
  text-align: center;
}

.subscribe-address::placeholder {
  padding: 12px 48px;
  font-size: 0.75rem;
  color: var(--placeholder-text-color);
}

input:placeholder-shown {
  background-image: url(/images/mail.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 22px 22px;
}

.subscribe-btn {
  width: 117px;
  justify-self: end;
}

.subscribe-head-text {
  color: var(--bright-text-color);
}

.subscribe-main-text {
  color: var(--subscribe-text-color);
}

/* 6. 푸터 하단 메뉴 */

.footer-main-group {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: 390px;
  height: 240px;
  margin-top: -240px;
  padding: 0;
}

.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 23px 0px 24px 32px;
}

.footer-logo {
  width: 110px;
  height: 39px;
}

.icon-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--social-btn-color);
}

.footer-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  margin-bottom: 12px;
  padding-right: 32px;
}

.footer-menu-text {
  color: var(--placeholder-text-color);
  margin-bottom: 16px;
}
/* 7.modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  gap: 5px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px var(--modal-box-shadow);
  background-color: var(--nav-bg-color);
  padding: 0 40px;
  box-sizing: border-box;
}

.modal-cat-image {
  width: 60px;
  height: 62px;
  margin-bottom: 15px;
}

.modal-close-btn {
  width: 161px;
  height: 45px;
  margin-top: 18px;
}

.hidden {
  display: none;
}

/*----------------------- PC 사이즈 ------------------------------*/

@media (min-width: 1024px) {
  .text-large {
    font-size: 2.25rem;
  }

  .text-xsmall {
    font-size: 1rem;
  }

  .btn {
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 29px;
    height: 50px;
  }

  /* 1. 상단 로고, 네비바, 배너 */

  .menu-tab {
    display: none;
  }

  .hidden-menu {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .hidden-btn {
    margin-right: 10px;
    width: 140px;
  }

  .head-logo {
    width: 149px;
    height: 53px;
  }

  .navbar {
    padding: 30px 10vw 0;
  }

  .head-group-top,
  .head-group-bottom {
    text-align: left;
    margin: 0;
  }

  .head-group-bottom {
    text-align: left;
    margin: 40px 0;
  }

  .head-group-top > .text-large {
    font-size: 3rem;
  }

  .head-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    margin: auto;
  }

  .image-banner {
    margin: auto;
    max-width: 415px;
    max-height: 890px;
  }

  .head-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10vw 0 15vw;
    height: 80vh;
    max-height: 800px;
  }

  .banner-btn {
    width: 140px;
  }

  .head-group-bottom {
    width: 440px;
  }

  /* 2.메인 컨텐츠 */

  .cat-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    padding: 30px 10vw 0;
  }

  .top-image-box {
    width: 660px;
    height: 390px;
  }

  .info-text-group {
    width: 510px;
    margin-left: 110px;
  }

  /* 3.메인 강조 설명 */

  .cat-description {
    margin-bottom: 88px;
  }

  .cat-description > .text-large {
    font-size: 3rem;
  }

  /* 4. 고양이 갤러리 */

  .cat-gallary {
    justify-items: center;
    padding: 0;
  }

  .image-gallary {
    display: flex;
    flex-direction: row;
    gap: 72px;
    margin-bottom: 90px;
  }

  .image-cat {
    width: 378px;
    height: 378px;
  }
  .cat-gallary-container {
    display: flex;
    flex-direction: row;
    gap: 52px;
  }

  .learn-btn {
    width: 147px;
  }

  /* 5.후원 */

  .subscribe {
    margin-bottom: 246px;
  }

  .subscribe-container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    max-height: 200px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 30px;
    overflow: hidden;
  }

  .subscribe-top-group {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .subscribe-head-text {
    margin-bottom: 18px;
  }

  .subscribe-bottom-group {
    display: flex;
    position: relative;
    margin: 0;
  }

  .subscribe-address {
    box-sizing: border-box;
    width: 530px;
    height: 60px;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
  }

  .subscribe-btn {
    width: 136px;
    position: absolute;
    right: 6px;
    top: 26px;
  }

  .subscribe-address::placeholder {
    text-align: left;
    padding: 20px 0 20px 38px;
    font-size: 1rem;
  }

  input:placeholder-shown {
    background-position: 30px center;
    background-size: 26px 26px;
  }

  /* 6.푸터 하단 메뉴 */
  .footer-image {
    height: 340px;
    margin-top: -340px;
  }

  .footer-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
    padding: 0 10vw;
    margin: 0 auto;
    max-width: 1280px;
  }

  .footer-main-group {
    display: block;
  }

  .footer-logo {
    width: 226px;
    height: 70px;
  }

  .icon-group {
    gap: 20px;
  }

  .icon-circle {
    width: 42px;
    height: 42px;
  }

  .footer-mobile-menu {
    display: none;
  }

  .icon {
    width: 24px;
    height: auto;
    display: block;
  }
  /* 7.modal */

  .modal-content {
    width: 600px;
    height: 400px;
    gap: 12px;
    padding: 0 40px;
  }

  .modal-cat-image {
    width: 110px;
    height: 112px;
    margin-bottom: 12px;
  }

  .modal-close-btn {
    width: 187px;
    height: 56px;
    margin-top: 24px;
  }
}
