/* content size */
@media (max-width: 767px) {
  .header-box,
  .section-box,
  .footer-box {
    max-width: 100%;
    margin: 5px;
  }
}
@media (min-width: 768px) {
  .header-box,
  .section-box,
  .footer-box {
    max-width: 1280px;
  }
  .header-box,
  .footer-box {
    margin: 0 auto;
  }
  .section-box {
    margin: 100px auto 0 auto;
  }
}

/* header > nav */
.nav-box {
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 92px;
}
.menu-list {
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  font-size: 1.1rem;
  cursor: pointer;
}
.menu-list .btn-download {
  margin-left: 20px;
}
.btn-menu {
  background: transparent;
}
@media (max-width: 767px) {
  .header-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 149px;
  }
  .header-menu {
    align-items: center;
    justify-content: space-between;
  }
  .btn-menu {
    display: none;
  }
}

/* all section style */
.article-box {
  margin: 30px 0;
}
/* all font size */
h1,
h2 {
  font-size: 1.7rem;
  background-color: rgb(255, 74, 74);
}
.text-box p {
  font-size: 1rm;
  background-color: rgb(255, 164, 164);
}
.section-gallery p {
  font-size: 1.1rem;
}
.section-emali-input {
  font-size: 0.857rem;
}
@media (min-width: 768px) {
  /* all font size */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  .section-subscribe p {
    font-size: 0.875rem;
  }
  .section-emali-input {
    font-size: 1rem;
  }
}

/* header > Hero Section */
.header-hero-box {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: brown;
}
.hero-article-box {
  width: 280px;
  background-color: rgb(146, 0, 0);
}
@media (min-width: 768px) {
  .header-hero-box {
    flex-direction: row;
  }
  .hero-article-box {
    width: 740px;
    padding-left: 30px;
  }
  .hero-article-box h1,
  .hero-article-box p {
    text-align: left;
  }
  .hero-article-box .btn-box {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .hero-article-box .btn-box {
    justify-content: center;
  }
}
.box-cat {
  width: 197px;
  height: 422px;
  margin-bottom: -7.5rem;
}
@media (min-width: 768px) {
  .box-cat {
    width: 415px;
    height: 766px;
    margin-bottom: -10rem;
  }
}

/* 2층: Card Section */
.lying-cat-box {
  align-items: center;
  max-width: 100%;
  width: 326px;
  height: 190px;
  margin: 0 auto;
  box-shadow: var(--shadow-lg);
}
.lying-cat {
}
img {
  object-fit: cover;
}

/* 3층: Gallery Section */
.gallery-img-box {
  margin: 0 auto;
}
.gallery-img-inner-box {
  gap: 4.5rem;
  box-sizing: border-box;
}
.gallery-img {
  width: 260px;
  height: 260px;
  box-shadow: var(--shadow-md);
}
@media (min-width: 768px) {
  .gallery-img {
    width: 378px;
    height: 378px;
  }
}

/* 4층: Subscribe Section */
.subscribe-container {
  width: 100%;
  height: 340px;
  background: url("../images/up-cat.png") no-repeat center;
  background-size: 100%;
}
.section-subscribe {
  height: 200px;
  background-color: var(--dark-bg);
  box-sizing: border-box;
}
.subscribe-article-box {
}

/* footer sns icon size */
.icon {
  width: 1.2rem;
  height: 1.2rem;
}
.icon-box {
  width: 32px;
  height: 32px;
}
@media (min-width: 768px) {
  .icon-box {
    width: 42px;
    height: 42px;
  }
}
